body {
    background-color: #585e53;
}

header {
    color: rgb(224, 20, 20);
    background-color: #c1c1da;
    padding: 0.5rem 1rem 0.5rem 3rem;
}

article{
    padding-top: 2rem;
    display: grid;
    row-gap: 2rem;
}

#project-grid {
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
}

main {
    padding: 2rem;
    background-color: rgb(210, 228, 218);
    border: 1px solid black;
    z-index: 4;
}

div {
    z-index: 5;
}

img{
    padding-left: 2rem;
    padding-right: auto;
    padding-top: 1rem;
    width: 75%;
    height: auto;
}

a{
    text-decoration: none;
}

.link>li>a{
    color: black;
}

.icon{
    height: 2em;
}

th {
    background-color: #30303a;
    color: rgb(245, 237, 242);
}

tr:nth-child(even){background-color: #688356}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

h1 {
    padding-bottom: 1rem;
}

.jena>rect{
    fill: #229e79 !important;
}


.verhulst>rect{
    fill: #7a3866 !important;
}
.oranje>rect{
    fill:orange !important;
}
.rood>rect{
    fill:red !important;
}
.blauw>rect{
    fill:royalblue !important;

} 


.paars>rect{
    fill:rgb(129, 107, 209) !important;
}   
